.App {
  font-family: sans-serif;
  max-width: 1000px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.corner-sun {
  position: absolute;
  right: -50%;
  bottom: -250px;
  z-index: 1;
  width: 999px;
  transform: translateX(-25%);
}
.left-corner-sun {
  position: absolute;
  position: absolute;
  top: -90px;
  transform: translateX(15%) rotate(135deg);
  left: -10%;
}
