.forecast {
  text-align: center;
  margin: 20px 0;
  color: #545454;
  font-family: "Oxygen", sans-serif;
  text-align: center;
  z-index: 2;
  font-size: 3px;
  font-weight: normal;
}

.forecast canvas {
  display: block;
  margin: 5px auto;
}

.col {
  font-size: 30px;
  width: 20%;
}
