.Weather {
  text-align: center;
  max-width: 1000px;
  border-radius: 10px;
  border: 5px solid #fcde85;
  margin-top: 87px;
  padding-bottom: 85px;
  padding-top: 67px;
  position: relative;
  z-index: 2;
  max-height: 600px;
  font-family: "Oxygen", sans-serif;
}

.input-group {
  width: 100%;
}

.form-control.shadow-sm {
  border-color: #7d990e;
  background: transparent;
  margin-top: 5px;
  border-radius: 0px;
  border-width: 2px;
  position: relative;
  text-align: left;
  font-size: 19px;
  font-weight: 200;
  z-index: 2;
  max-width: 330px;
  width: 100%;
  margin: 0;
  font-family: "Oxygen", sans-serif;
}
.input-group-text {
  background: transparent;
  margin-top: 2px;
  position: relative;
  border: transparent;
  text-align: center;
  font-size: 19px;
  font-weight: 200;
  z-index: 2;
  margin-left: 150px;
  font-family: "Oxygen", sans-serif;
}
.btn-primary {
  text-align: center;
  position: center;
  margin: auto;
  width: 5cm;
  color: black;
  background: transparent;
  border-color: #569ee2;
  z-index: 2px;
  font-family: "Oxygen", sans-serif;
}
.btn-secondary {
  text-align: center;
  position: center;
  margin: auto;
  color: black;
  background: transparent;
  border-color: #569ee2;
  width: 5cm;
  z-index: 2;
  font-family: "Oxygen", sans-serif;
}
#city-input {
  border-color: #88c5e8;
  background: transparent;
  border: 2px solid #fcde85;
  margin-top: 4px;
  position: center;
  margin-left: 100px;
  z-index: 2;
  text-align: center;
  margin: auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.temperature {
  font-size: 30px;
  z-index: 2;
  text-align: center;
  font-weight: bolder;
  margin-right: -25px;
  margin-top: -35px;
  display: inline-block;
  font-family: "Oxygen", sans-serif;
}
.unit {
  position: relative;
  font-size: 25px;
  color: rgb(32, 102, 177);
  margin-left: 30px;
  z-index: 2;
  font-style: italic;
  display: inline-block;
}

.unit span:hover {
  cursor: pointer;
}

.App footer {
  text-align: center;
  position: center;
  margin: auto;
}

.weather-icon {
  margin-right: -25px;
  margin-top: -35px;
  display: inline-block;
}
